---
// @ts-nocheck
import { Menu, toSlug } from '@blackbyte/website-common';
import { getCollection } from 'astro:content';
import docmapJson from '../../../docmap.json';
import Layout from '../../layouts/main.astro';

export async function getStaticPaths() {
  const allDoc = await getCollection('sugarcss');
  const params = [];
  for (let [i, docObj] of allDoc.entries()) {
    params.push({
      params: {
        namespace: toSlug(docObj.id),
      },
    });
  }

  return params;
}

const allDoc = await getCollection('sugarcss'),
  params = Astro.params;

let DocItem;
for (let [i, docObj] of allDoc.entries()) {
  if (toSlug(docObj.id) === params.namespace) {
    DocItem = await docObj.render();
    break;
  }
}
---

<Layout pageTitle={DocItem.remarkPluginFrontmatter.title}>
  <section class="doc">
    <div class="doc_nav">
      <Menu docmapJson={docmapJson} />
    </div>
    <div class="doc_body">
      <div class="markdown typo-format typo-rhythm">
        <DocItem.Content />
      </div>
    </div>
  </section>
</Layout>
