---
import { Code } from '@blackbyte/website-common';
import './getStarted.css';
---

<script>
  function initGetStarted($getStarted: HTMLElement): void {
    const $hotkey = $getStarted.querySelector('.get-started_hotkey');

    window.addEventListener('keydown', (e) => {
      if (e.key === 'Meta') {
        $hotkey?.classList.add('-active');
      }
    });
    window.addEventListener('keyup', (e) => {
      if (e.key === 'Meta') {
        $hotkey?.classList.remove('-active');
      }
    });
  }

  const $getStarted = document.querySelector('.get-started');
  $getStarted && initGetStarted($getStarted as HTMLElement);
</script>

<section class="get-started" id="get-started">
  <header class="get-started_header typo-rhythm">
    <h2 class="typo-h2">Get Started</h2>
    <p class="typo-lead">
      Start using <code>@blackbyte/sugar</code> in your project with this quick guide.
    </p>
  </header>

  <div class="get-started_steps" style="--step-idx: 0">
    <div class="get-started_step">
      <div class="get-started_step-metas">
        <h3 class="typo-h3">
          <span class="get-started_step-number">1.</span> Install the package
        </h3>
        <p class="typo-p">
          You can install <code>@blackbyte/sugar</code> using npm, yarn or pnpm.
        </p>
      </div>
      <div class="get-started_step-value">
        <Code language="bash" header code="npm install @blackbyte/sugar" />
      </div>
    </div>

    <div class="get-started_step" style="--step-idx: 1">
      <div class="get-started_step-metas">
        <h3 class="typo-h3">
          <span class="get-started_step-number">2.</span> Discover the API
        </h3>
        <p class="typo-p">
          Press <strong>CMD + P</strong> to open the command palette and start typing
          to search for available functions.
        </p>
      </div>
      <div class="get-started_step-value">
        <div class="get-started_hotkey">
          <span class="get-started_hotkey-cmd">CMD</span>
          <span class="get-started_hotkey-plus">+</span>
          <span class="get-started_hotkey-p">P</span>
        </div>
      </div>
    </div>

    <div class="get-started_step" style="--step-idx: 2">
      <div class="get-started_step-metas">
        <h3 class="typo-h3">
          <span class="get-started_step-number">3.</span> Import what you need
        </h3>
        <p class="typo-p">
          Import the components you need from <code>@blackbyte/sugar</code> in your
          project files.
        </p>
      </div>
      <div class="get-started_step-value">
        <Code
          language="ts"
          header
          code={`import { querySelectorLive } from '@blackbyte/sugar/dom';
import { pickRandom, unique } from '@blackbyte/sugar/array';
import { sleep, timeAgo, formatDuration } from '@blackbyte/sugar/datetime';
// etc... `}
        />
      </div>
    </div>
  </div>
</section>
