:root {
  --s-color-success: #91ff00;
  --s-color-warning: #ffd500;
  --s-color-error: #ff003b;
  --s-color-info: #00ffff;
  --s-color-php: #777cb5;
}

:root {
  --s-color-main: #101010;
  --s-color-accent: #f4ad20;
  --s-color-complementary: #00fffb;
  --s-color-current: s-color(accent);

  --s-shade-text: --lightness 90;
  --s-shade-text-accent: --lightness 80;

  --s-shade-foreground: --lightness 90;
  --s-shade-background: --lightness 0;
  --s-shade-surface: --lightness 10;

  --s-shade-border: --alpha 0.2;
  --s-shade-hover: --darken 40;
  --s-shade-focus: --darken 10;

  --s-shade-form-text: --lightness 100;
  --s-shade-form-placeholder: --lightness 100 --alpha 0.3;
  --s-shade-form-background: --lightness 15;
  --s-shade-form-border: --alpha 0.2;
  --s-shade-form-border-focus: --alpha 0.5;

  --s-shade-text-complementary: --lightness 70;

  --s-shade-platform: --lightness 80;
}
